.main-swiper {
  border-radius: 10px;
  overflow: hidden;
}

.thumbs-swiper img:hover {
  border: 2px solid #16243d;
  transition: border 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .main-swiper {
    height: 300px !important;
  }

  .thumbs-swiper img {
    height: 50px !important;
  }
}
